* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    padding-left: 70px;
    background-color: #c5c2c7;
    overflow-x: hidden;
}
/* css title */
.box-title{
    height: 30px;
    margin:10px 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.box-title span {
    padding-left: 20px;
    font-size: 20px;
}

/* css conten */
.box-content{
    width: auto;
    height: auto;
    margin:10px;
    /* background-color: red; */
}
.content-top{
    height: 800px;
    display: flex;
}
.box-cctv{
    width: 1000px;
    height: auto;
    margin: 10px ;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
.box-selects{
    height: 60px;
    margin: 10px ;
    /* background-color: aqua; */
    display: flex;
}
.selectss{
    height: auto;
    width: 300px;
    display: flex;
    margin: 10px 0;
}
.select1{
    width: 50%;
    border-radius: 5px 0 0 5px;
    border: #000000 1px solid;
}
.select2{
    width: 50%;
    border-radius: 0 5px 5px 0;
    border: #000000 1px solid;
}
#customSelect1{
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0  5px;
    border: none;
    background-color: #c5c2c7;
}
#customSelect2{
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #c5c2c7;
}
.add{
    height: 40px;
    width: 270px;
    background-color: rgb(236, 236, 77);
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    margin-left: 330px;
}
.add-p{
    display: flex;
    align-items: center;
    margin: 10px;
}
.cctv{
    height:670px;
    margin: 10px;
    background-color: #c5c2c7;
    border-radius: 15px;
}
.video-cctv{
    height: 100%;
    width: 100%;
}
.box-history{
    height: auto;
    width: 600px;
    margin: 10px 20px;
    background-color:  #c5c2c7;
}
.box-date-time{
    height:auto;
    width:600px;
    background-color: #d3c2e1;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
}
.loca-da-ti{
    height:auto;
    width: auto;

}
.location{
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    
}
.date-time{
    height: 40px;
    width: 100%;
    display: flex;
    padding: 0 15px;

}
.date{
    height: 100%;
    width: 50%;
    margin-right: 5px;
    /* background-color: blue; */
    display:flex;
}
.time{
    height: 100%;
    width: 50%;
    margin-left: 5px;
    /* background-color: blue; */
    display:flex;
}
.time-element {
    width: 16px;
    display: flex;
    align-items: center;
}
.title-element{
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.view-in-details{
    height: 40px;
    width: 100%;
    margin-top: 5px;
}
#view-in-details{
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.box-detection-history{
    height:600px;
    width:600px;
    background-color: white;
    margin-top:15px ;
    border-radius: 10px;
    padding-left: 30px;
}
.history-title{
    height: 40px;
    margin: 10px;
    padding: 10px;
}
.content-bottom{
    height: 600px;
    width: 1000px;
    display: flex;
    margin:10px ;
    padding: 12px;
    
}
.zone{
    width: 460px;
    height: 500px;
    margin: 15px 8px;
    border-radius: 10px;
    background-color: white;
} 
.title-zone{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-list {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}